// Body Styles
body,
html,
.body {
   background: #fff !important;
}
a {
   text-decoration: underline;
}
p {
   hyphens: none;
   letter-spacing: .07em;
}

.dropcap {
   color: #ff831b !important;
   font-size: 18px;
   font-weight: 700;
}

@media only screen and (max-width: #{$global-breakpoint}) {
   p {
      text-align: center;
   }
}

///////// HEADER
.header {
   img {
      width: 475px;
   }
}
.welcome {
   img {
      height: 28px;
   }
   p {
      font-size: 18px;
      letter-spacing: .06em;
   }
}


///////// INTRO
.intro {
   img {
      max-width: 155px;
   }
   p {
      margin-bottom: 20px !important;
   }
   .bold {
      font-weight: 700;
   }
}


///////// MAIN CONTENT
.main-content {
   img {
      max-width: 235px;
   }
   p {
      font-size: 16px;
   }
}

///////// MAIN CONTENT
.goodbye {
   table {
      width: 400px;
   }

   p {
      font-weight: 700;
      font-size: 18px;
   }
   img {
      height: 19px;
   }
}

@media only screen and (max-width: #{$global-breakpoint}) {
   .goodbye {
      img {
         height: 19px !important;
      }
   }
}
