<wrapper class="footer">
   <container>
      <spacer size="40"></spacer>
         <row>
            <columns small="3"></columns>

            <columns small="2">
               <a href="#">
                  <center>
                     <img src="{{root}}/assets/img/images/icon_instagram.png" alt="">
                  </center>
               </a>
            </columns>

            <columns small="2">
               <a href="#">
                  <center>
                     <img src="{{root}}/assets/img/images/icon_twitter.png" alt="">
                  </center>
               </a>
            </columns>

            <columns small="2">
               <a href="#">
                  <center>
                     <img src="{{root}}/assets/img/images/icon_linkedin.png" alt="">
                  </center>
               </a>
            </columns>

            <columns small="3"></columns>

         </row>

   </container>
</wrapper>
