<wrapper class="footer">
   <container>
      <spacer size="40"></spacer>
      <!-- Social Media Links -->
      <row>
         <columns>
            <center>
               <a href="#">
                  <img src="{{root}}/assets/img/images/icon_instagram.png" alt="">
               </a>

               <a href="#">
                  <img src="{{root}}/assets/img/images/icon_twitter.png" alt="">
               </a>

               <a href="#">
                  <img src="{{root}}/assets/img/images/icon_linkedin.png" alt="">
               </a>
            </center>
         </columns>
      </row>
      <spacer size="10"></spacer>

      <!-- Text -->
      <row class="contact-info">
         <columns>
            <p>Illustrator: Mike Lemanski</p>
            <p>Courier, Level 1, 88 Hanbury Street, London, E1 5JL, UK</p>
            <p>Drop us a line anytime at <a href="#">hello@couriermedia.co</a></p>
            <p>You're receiving this email because you chose to receive Courier newsletters from Mailchimp. Opting out is easy. Just <a href="#">click here</a>.</p>
         </columns>
      </row>


   </container>
</wrapper>
