<container>

   <spacer size="40"></spacer>
   <row class="header">
      <columns>
         <center>
            <img src="https://i.imgur.com/XMqZFD3.png" alt="Courier Logo">
         </center>
      </columns>
   </row>

   <spacer size="50"></spacer>

   <row class="welcome">
      <columns>
         <center>
            <img src="https://i.imgur.com/TonuskK.png" alt="Welcome to Courier!">
            <spacer size="20"></spacer>
            <p class="text-center">Thanks for signing up to receive this newsletter, our bimonthly digest of highlights from the world of Courier.</p>
         </center>
      </columns>
   </row>

   <spacer size="15"></spacer>

</container>
