<container>

   <spacer size="40"></spacer>
   <row class="header">
      <columns>
         <center>
            <img src="{{root}}/assets/img/images/logo.png" alt="Courier Logo">
         </center>
      </columns>
   </row>

   <spacer size="40"></spacer>

   <row class="welcome">
      <columns>
         <center>
            <img src="{{root}}/assets/img/images/welcome.png" alt="Welcome to Courier!">
         </center>
         <p></p>
      </columns>
   </row>

   <spacer size="40"></spacer>

</container>
