<container>
   <row class="intro">
      <columns small="4">
         <img src="{{root}}/assets/img/images/img-1.png" alt="">
      </columns>
      <columns small="8">
         <p class="bold"><span class="dropcap">It’s never an easy time to be in business</span> and right now things are even more uncertain. Courier exists to give you the greatest possible chance of success. Our job is to teach you vital skills, expose you to useful points of view, let you hear the voices of myriad other founders and find reliable resources. We’re here to help you not only survive but grow, thrive and, as we love to say, work and live on your own terms.</p>
         <p><u>Every two weeks we’ll update you</u> with previews of stories, profiles and how-tos from our website, podcasts, email bulletins, print magazine and more. Think of it as your compass to the world of Courier.</p>
         <p>If you enjoy our regular updates, there’s a world of more Courier waiting for you.</p>
      </columns>
   </row>
</container>
